{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/segon.css' %}">
    <link rel="stylesheet" href="{% static 'img/codi.jpg' %}">
    <link rel="stylesheet" href="{% static 'img/zidane.jpg' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <style>
        a.buttono {
            text-decoration: none;
            padding: 10px;
            font-weight: 600;
            font-size: 20px;
            color: #ffffff;
            background-color: {{hero.color_del_boton}};
            border-radius: 6px;
            border: 2px solid #black;
        }

        a.buttono:hover{
            color: #1883ba;
            background-color: #ffffff;
        }
        
        a.buttonu {
          text-decoration: none;
          padding: 10px;
          font-weight: 600;
          font-size: 20px;
          color: #ffffff;
          background-color: {{modulocodigo.color_del_boton}};
          border-radius: 6px;
          border: 2px solid #black;
      }

      a.buttonu:hover{
          color: #1883ba;
          background-color: #ffffff;
      }
      
      a.buttonz {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: {{moduloprecios.color_del_boton}};
        border-radius: 6px;
        border: 2px solid #black;
    }

    a.buttonz:hover{
        color: #1883ba;
        background-color: #ffffff;
    }
    
    
    #introduction {
        background: linear-gradient(rgba(220,0,0 ,1), rgba(0,0,0,0.2)), url('{{ MEDIA_URL }}{{hero.imagen}}') 0% 0%/cover
        }
    #info-3 {
  background: linear-gradient(rgba(237,236,221,1), rgba(0,0,0,0.2)), url('{{ MEDIA_URL }}{{modulonoticia.imagen}}') 0% 0%/cover
        }
    </style>
     
    
  </head>
  <body>
        <section id="introduction">
            <div class="container">
                <div class="row fill-viewport align-items-center">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">{{hero.titulo}}</h1>
                        <p class="lead text-white-70">{{hero.descripcion}}</p>
    
                        <a class="buttono" href={{hero.URL}} role="button">{{hero.boton}}</a>

                    </div>
                </div>
            </div>
        </section>
        <section id="info--1">
          <div class="container">
            <div class="row pt-5 align-items-center">
               <div class="col d-none d-md-block align-self-end">
                 <img src="{{MEDIA_URL}}{{moduloimagen.imagen}}" class="w3-border w3-margin-bottom w3-margin-right"/>
               </div>
               <div class="col">
                   <h6 class="text-uppercase text-black-40">
                    {{moduloimagen.subtitulo}}
                   </h6>
                   <h2>{{moduloimagen.titulo}}</h2>
                <p>{{moduloimagen.descripcion}}
            </p>
            <div class="row">
                <div class="d-none d-md-block col">
                        <a href="{{moduloimagen.URL}}" class="d-block">{{moduloimagen.nombre_del_URL}}</a>
                    </div>
               </div>
             </div>
         </div>
            </div>
        <section id="info-2" class="bg-dark">
           <div class="container">
             <div class="row align-items-center fill-80-viewport">
               <div class="col-12 col-md-6 my-5 order-2 order-md-1">
                 <p class="text-uppercase text-white-40"><strong>{{modulocodigo.titulo}}</strong></p>
                 <h2 class="text-white">{{modulocodigo.subtitulo}}</h2>
                 <p class="lead text-white-70">{{modulocodigo.descripcion}}</p>
                 <a class="buttonu" href={{modulocodigo.URL}} role="button">{{modulocodigo.boton}}</a>
               </div>
               <pre class="col-12 col-md-6 my-5 order-1 order-md-2 py-4 border border-info rounded text-info">
                <span>1</span> <span> //codingSteroids.js</span>
                <span>2</span>
                <span>3</span>   const data = {
                <span>4</span>        "purpose": {
                <span>5</span>        "getId": "#element",
                <span>6</span>        "companyName": "coolStartup",
                <span>7</span>      }
                <span>8</span>    }
                <span>9</span>
                <span>10</span>   function codingSteroids(
                <span>11</span>       data,
                <span>12</span>       getSteroidsType
                <span>13</span>   )
                <span>14</span>
                <span>15</span>   function getSteroidsType() {
                <span>16</span>     return "codeHellish!"
                <span>17</span>   }
                </pre>
             </div>
           </div>
          </section>
        <section id="info-3">
          <div class="container">
            <div class="row fill-80-viewport align-items-center justify-content-end text-white">
              <div class="col-12 basis-md-50">
                <h6 class="text-white-40">
                  {{modulonoticia.subtitulo}}
                </h6>
                <h3>{{modulonoticia.titulo}}</h3>
                <p class="text-uppercase text-white-70">{{modulonoticia.company}}</p>
              </div>
          </div>
          </div>
        </section>
        <section id="featured-on" class="bg-primary">
          <div class="container">
            <div class="row py-5 text-center text-white">
              <div class="col-12">
                  <i class="fa fa-3x fa-free-code-camp my-3 mx-5"
                     aria-hidden="true"></i>
                  <i class="fa fa-3x fa-twitter my-3 mx-4"
                     aria-hidden="true"></i>
                  <i class="fa fa-3x fa-facebook my-3 mx-4"
                     aria-hidden="true"></i>
                  <i class="fa fa-3x fa-quora my-3 mx-4"
                     aria-hidden="true"></i>
                  <i class="fa fa-3x fa-reddit my-3 mx-4"
                     aria-hidden="true"></i>
                  <i class="fa fa-3x fa-pied-piper my-3 mx-4"
                     aria-hidden="true"></i>
                  <i class="fa fa-3x fa-paypal my-3 mx-4"
                     aria-hidden="true"></i>
                  <i class="fa fa-3x fa-product-hunt my-3 mx-4"
                     aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </section>
        <section id="feature-rundown">
          <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-6 mx-auto mt-5 text-center">
                        <h6 class="text-black-40 text-uppercase">
                          {{moduloproductos.titulo}}
                        </h6>
                        <h3 class="text-black-70">{{moduloproductos.subtitulo}}</h3>
                      </div>
            </div>
        {% for moduloitem in moduloitems %}  
            <div class="container">  
              <div class="row mb-5">
                  <div class="col-12 col-md-4 mx-auto mt-5 text-center">
                    <img src="{{ MEDIA_URL }}{{moduloitem.imagen}}" width="75px" class="mt-4"/>
                    <p>
                    <strong class="text-info">{{moduloitem.nombre_del_URL}}</strong>   {{moduloitem.descripcion}}
                    </p>
                  </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </section>
        <section id="pricing" class="bg-light">
                <div class="row">
                  <div class="col-12 col-md-6 mx-auto text-center my-5">
                      <h6 class="text-black-40 text-uppercase">
                          {{moduloprecios.titulo}}
                      </h6>
                      <h3 class="text-black-70">{{moduloprecios.subtitulo}}</h3>
                    </div>
                </div>
          {% for moduloitem2 in moduloitems2 %}
          <div class="container fill-80-viewport">
            <div class="row pb-5">
                <div class="col-12 col-md-4 px-2 my-4 mx-auto text-center">
                <h6 class="text-black-40 text-uppercase">
                    {{moduloitem2.title}}
                  </h6>
                <img src="{{ MEDIA_URL }}{{moduloitem2.imagen}}" width="50px" class="my-4"/>
                <p>{{moduloitem2.descripcion}}</p>
                <ul class="list-unstyled list-border-black-20 list-border-y text-left text-black-70">
                  <li class="py-2">{{moduloitem2.descripcion}}</li>
                  <li class="py-2">{{moduloitem2.descripcion1}}</li>
                  <li class="py-2">{{moduloitem2.descripcion2}}</li>
                </ul>
                <a class="btn btn-block btn-primary border-0 text-white py-3" href="{{moduloitem2.URL}}">{{moduloitem2.boton}}</a>
                </div>
            </div>
        </section>
        {% endfor %}
        <section id="footer" class="bg-dark">
          <div class="container">
            <div class="row fill-40-viewport py-5 text-white-70 align-items-center">
                <div class="col-12 col-md-6">
                  <ul class="list-unstyled">
                    <li><h6 class="text-white">ABOUT</h6></li>
                    <li>We’ve been working on Coding on Steroids
                      for the all our lives.
                      A groundbreaking tech deserves such dedication, huh?
                      If you’d like to learn more, or are interested in a job,
                      contact us anytime at
                      <a class="text-white" href="https://twitter.com/OhansEmmanuel" target="_blank">@ohansemmanuel</a></li>
                  </ul>
                </div>
                <div class="col-12 col-md-2">
                  <ul class="list-unstyled">
                    <li><h6 class="text-white">PRODUCT</h6></li>
                    <li>Features</li>
                    <li>Examples</li>
                    <li>Tour</li>
                    <li>Gallery</li>
                  </ul>
                </div>
                <div class="col-12 col-md-2">
                  <ul class="list-unstyled">
                    <li><h6 class="text-white">APIS</h6></li>
                    <li>Rich data</li>
                    <li>Simple</li>
                    <li>Real time</li>
                    <li>Social</li>
                  </ul>
                </div>
                <div class="col-12 col-md-2">
                <ul class="list-unstyled">
                  <li><h6 class="text-white">LEGAL</h6></li>
                  <li>Terms</li>
                  <li>Legal</li>
                  <li>Privacy</li>
                  <li>License</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
  </body>
</html>
